---
// Feature List Section
// ------------
// Description: A list of features with icons and descriptions in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Feature from '../../ui/Feature.astro'

// Data
import features from '../../../data/json-files/featuresData.json'

import Card from '../../ui/cards/FeatureCard.astro'

import Badge from '../../ui/Badge.astro'

import Feature2 from '../../ui/Feature.astro'

import StickySidebar from '../basic/StickySidebar.astro'

import RappresentantiScuola from './SchedaRappresentanti.astro'

const rapprUdine = [
	{
		nome: 'Francesco',
		cognome: 'Decataldo',
		email: 'francesco.decataldo@riasissu.it'
	},
	{
		nome: 'Maddalena',
		cognome: 'Feltrin',
		email: 'maddalena.feltrin@riasissu.it'
	}
]
---

<Section id="features" >
	<!-- <Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Whats included on <strong>all</strong> foxi plans</h2>
			<p class="pb-0 text-lg">
				Explore the suite of tools designed to streamline your workflow, enhance productivity, and
				drive growth. Each product is crafted with precision to meet your needs and exceed your
				expectations.
			</p>
		</Col>
	</Row> -->
	<!-- <Row>
		{
			features.slice(0, 8).map((feature) => (
				<Col span="3">
					<Feature title={feature.title} icon={feature.icon} align="left" classes="mb-12">
						{feature.description}
					</Feature>
				</Col>
			))
		}
	</Row> -->
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">La Giunta</h2>
			<p class="pb-0 text-lg">
				Ogni scuola facente parte dell'associazione ha due rappresentanti con mandato di 1
				anno.
			</p>
		</Col>
	</Row>

	<Row>
		<Col
			span="12"
			align="center"
			classes="w-full bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
		>
			<div class="p-6 md:flex">
				<ul
					class="flex-column space-y mb-4 space-y-4 text-sm font-medium text-gray-500 md:mb-0 md:me-4 dark:text-gray-400"
					id="default-tab"
					data-tabs-toggle="#default-tab-content"
					role="tablist"
				>
					<li>
						<button
							id="profile-tab"
							data-tabs-target="#dashboard"
							type="button"
							role="tab"
							aria-controls="profile"
							aria-selected="false"
							class="inline-flex w-full items-center rounded-lg bg-gray-50 px-4 py-3 hover:bg-gray-100 hover:text-gray-900 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
						>
							<svg
								class="me-2 h-4 w-4 text-gray-500 dark:text-gray-400"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 18 18"
								><path
									d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
								></path></svg
							>
							Dashboard
						</button>
					</li>
					<li>
						<button
							id="profile-tab"
							data-tabs-target="#dashboard"
							type="button"
							role="tab"
							aria-controls="profile"
							aria-selected="false"
							class="inline-flex w-full items-center rounded-lg bg-gray-50 px-4 py-3 hover:bg-gray-100 hover:text-gray-900 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
						>
							<svg
								class="me-2 h-4 w-4 text-gray-500 dark:text-gray-400"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 18 18"
								><path
									d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
								></path></svg
							>
							Dashboard
						</button>
					</li>
					<li>
						<button
							id="profile-tab"
							data-tabs-target="#dashboard"
							type="button"
							role="tab"
							aria-controls="profile"
							aria-selected="false"
							class="inline-flex w-full items-center rounded-lg bg-gray-50 px-4 py-3 hover:bg-gray-100 hover:text-gray-900 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
						>
							<svg
								class="me-2 h-4 w-4 text-gray-500 dark:text-gray-400"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 18 18"
								><path
									d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
								></path></svg
							>
							Dashboard
						</button>
					</li>
					<li role="presentation">
						<button
							class="inline-block rounded-t-lg border-b-2 p-4 hover:border-gray-300 hover:text-gray-600 dark:hover:text-gray-300"
							id="contacts-tab"
							data-tabs-target="#contacts"
							type="button"
							role="tab"
							aria-controls="contacts"
							aria-selected="false">Tesoriere</button
						>
					</li>
				</ul>

				<div
					id="default-tab-content"
					class="text-medium w-full rounded-lg bg-gray-50 p-6 text-gray-500 dark:bg-gray-800 dark:text-gray-400"
				>
					<div
						class="hidden rounded-lg bg-gray-50 p-4 dark:bg-gray-800"
						id="profile"
						role="tabpanel"
						aria-labelledby="profile-tab"
					>
						<p class="text-sm text-gray-500 dark:text-gray-400">
							This is some placeholder content the <strong
								class="font-medium text-gray-800 dark:text-white"
								>Profile tab's associated content</strong
							>. Clicking another tab will toggle the visibility of this one for the
							next. The tab JavaScript swaps classes to control the content visibility
							and styling.
						</p>
					</div>
					<div
						class="hidden rounded-lg bg-gray-50 p-4 dark:bg-gray-800"
						id="dashboard"
						role="tabpanel"
						aria-labelledby="dashboard-tab"
					>
						<p class="text-sm text-gray-500 dark:text-gray-400">
							This is some placeholder content the <strong
								class="font-medium text-gray-800 dark:text-white"
								>Dashboard tab's associated content</strong
							>. Clicking another tab will toggle the visibility of this one for the
							next. The tab JavaScript swaps classes to control the content visibility
							and styling.
						</p>
					</div>
					<div
						class="hidden rounded-lg bg-gray-50 p-4 dark:bg-gray-800"
						id="settings"
						role="tabpanel"
						aria-labelledby="settings-tab"
					>
						<p class="text-sm text-gray-500 dark:text-gray-400">
							This is some placeholder content the <strong
								class="font-medium text-gray-800 dark:text-white"
								>Settings tab's associated content</strong
							>. Clicking another tab will toggle the visibility of this one for the
							next. The tab JavaScript swaps classes to control the content visibility
							and styling.
						</p>
					</div>
					<div
						class="hidden rounded-lg bg-gray-50 p-4 dark:bg-gray-800"
						id="contacts"
						role="tabpanel"
						aria-labelledby="contacts-tab"
					>
						<p class="text-sm text-gray-500 dark:text-gray-400">
							This is some placeholder content the <strong
								class="font-medium text-gray-800 dark:text-white"
								>Contacts tab's associated content</strong
							>. Clicking another tab will toggle the visibility of this one for the
							next. The tab JavaScript swaps classes to control the content visibility
							and styling.
						</p>
					</div>
				</div>
			</div>
		</Col>
	</Row>
</Section>
