---

import Section from '../../ui/Section.astro';
import Row from '../../ui/Row.astro';
import Col from '../../ui/Col.astro';
import { getCollection } from 'astro:content';
import BlogPosts from './BlogPosts.astro';

const allPosts = (await getCollection('news')).slice(0, 3)


---
<Section padding="top" stickyCol={true}>
	<Row>
		<Col span="12" align="center" classes="max-w-4xl mx-auto">
			<h2 class="text-pretty">News</h2>
			<!-- <p class="pb-0 text-lg">Ecco le ultime novità riguardanti la RIASISSU</p> -->
		</Col>
	</Row>
    <BlogPosts data={allPosts}  />
</Section>