---
// Basic Cards grid Section
// ------------
// Description: A grid of cards with basic contact information in a 4 column layout.
// Properties:
// - classes: Additional classes to be added to the Section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">Per qualunque richiesta:</h2>
			<p class="pb-0 text-lg">
				Scegli una delle seguenti opzioni per contattare il team della RIASISSU. 
			</p>
		</Col>
	</Row>
	<Row>
		<Col classes="h-full" span="6">
			<Card
				title="Coordinatrice Nazionale"
				subtitle="Per qualsiasi richiesta o informazione, la coordinatrice nazionale è a tua disposizione. "
				icon="user"
				classes="dark:!bg-neutral-800/50 h-full"
				horizontal={true}
			>
				<p>
					<strong>Email: </strong><a href="mailto://maddalena.feltrin@riasissu.it">maddalena.feltrin@riasissu.it</a>
				</p>
			</Card>
		</Col>
		<Col classes="h-full" span="6">
			<Card
				title="Servizi Informatici"
				subtitle="Per segnalare qualunque problema tecnico o per richiedere assistenza sui servizi informatici, contatta il nostro team."
				icon="user"
				classes="dark:!bg-neutral-800/50 h-full"
				horizontal={true}
			>
				<p>
					<strong>Email: </strong><a href="mailto://maddalena.feltrin@riasissu.it">webmasters@riasissu.it</a>
				</p>
			</Card>
		</Col>
	</Row>
		<!--  <Col span="3">
			<Card
				title="Feature Requests"
				subtitle="Have an idea to make Foxi even better? We’d love to hear from you! Share your feature requests and help us improve "
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="General Feedback"
				subtitle="Your feedback is invaluable to us. Let us know how we’re doing and how we can improve. "
				icon="chat-bubble-left-ellipsis"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
	</Row> -->
</Section>
