---
import Layout from '../layouts/Layout.astro'
import SidebarContent from '../components/blocks/basic/StickySidebar.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'

const SEO = {
	title: 'RIASISSU | Regolamento dell’associazione',
	description: "Regolamento dell'associazione RIASISSU, approvato il 6 dicembre 2024."
}
const header = {
	title: '<strong>Regolamento</strong> dell’associazione <strong>RIASISSU</strong>',
	text: ''
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero title={header.title} text={header.text} />
	<SidebarContent>
		<div slot="sidebar">
			<h3>Art. 1 - Ingresso nuove scuole</h3>
		</div>
		<div class="basic-text">
			<div class="paragraph">
				<ol>
					<li>
						La partecipazione dell3 Alliev3 delle Scuole Superiori Universitarie alla
						Rete avviene a seguito di una richiesta presentata in forma scritta e
						contenente informazioni in merito ai requisiti di cui di seguito. La
						richiesta deve essere a firma del direttore della Scuola per attestare la
						veridicità delle informazioni fornite. La richiesta è sottoposta al vaglio
						dell’Assemblea dell3 Rappresentanti dell3 Alliev3 della Rete che devono
						verificare l’esistenza dei seguenti requisiti:
						<ul>
							<li>
								rigorosa selezione per l’ammissione attraverso prove strutturate;
							</li>
							<li>severi criteri di permanenza basati unicamente sul merito;</li>
							<li>
								collegialità come valore aggiunto della formazione universitaria;
							</li>
							<li>assenza di oneri economici aggiuntivi per lo studente;</li>
							<li>didattica interna e formazione integrativa di alto livello</li>
							<li>promozione e diffusione della cultura sul territorio;</li>
							<li>
								aver almeno cinque anni di vita e aver compiuto un ciclo completo di
								formazione.
							</li>
						</ul>
						L3 Alliev3 della Scuola richiedenti l’ingresso alla “Rete dell3 Alliev3” devono
						esprimere, tramite gli organi competenti, la volontà di aderire alle finalità
						e agli scopi dell’Associazione così come indicate nello Statuto dell’Associazione.
						Dopo aver verificato la sussistenza delle condizioni necessarie a consentire
						l’ingresso nell’Associazione, questa, tramite il Comitato Organizzativo, lo comunicherà
						al richiedente.
					</li>
					<li>
						La procedura di cui al comma 1 viene svolta durante una delle due assemblee
						ordinarie che si svolgono durante l’anno, alla presenza di almeno un
						delegato della Scuola richiedente l’idoneità, che sia disposto a rispondere
						alle domande dei membri dell’Assemblea dell3 Rappresentanti. La
						partecipazione di più di un delegato è, in ogni caso, subordinata alla
						disponibilità logistica della Scuola ospitante l’Assemblea, a decisione
						insindacabile della Comitato Organizzativo.
					</li>
					<li>
						Nel periodo antecedente il pronunciamento in merito all’idoneità di una
						Istituzione, l’Assemblea dell3 Rappresentanti nomina un proprio componente a
						referente nei rapporti con l3 rappresentanti della Scuola richiedente
						idoneità in modo da canalizzare e non disperdere alcuna informazione.
					</li>
				</ol>
			</div>
		</div>
	</SidebarContent>

	<SidebarContent>
		<div slot="sidebar">
			<h3>Art. 2 - Procedura di votazione alle assemblee</h3>
		</div>
		<div class="basic-text">
			<div class="paragraph">
				<ol>
					<li>
						L’Assemblea dell3 Rappresentanti si riunisce almeno due volte l’anno. È
						composta da due Rappresentanti dell3 Alliev3 per ogni Scuola i cui Allievi
						partecipano alla Rete.
					</li>
					<li>Ogni Rappresentante ha diritto a un voto.</li>
					<li>
						Nel caso in cui unə Rappresentante non possa partecipare fisicamente
						all’Assemblea, può partecipare e votare telematicamente ovvero nominare un
						suo sostituto, Allievo della sua stessa Scuola, ovvero delegare il suo voto
						ad unə altrə Rappresentante. Le deleghe devono essere comunicate in tempo
						utile allə Coordinatricə Nazionale e da questo devono essere presentate
						all’inizio dell’Assemblea.
					</li>
					<li>
						Non hanno diritto al voto l3 Rappresentanti delle Scuole sulla cui
						permanenza nella “Rete dell3 Alliev3” si discute. Dopo il vaglio dei
						requisiti stabiliti ex art.1 dello Statuto della Rete dell3 Alliev3,
						l’Assemblea può decidere all’unanimità di rimuovere l’idoneità alla Scuola
						che, seppur membro dell’Associazione, abbia perso uno o più tra i requisiti
						richiesti. L3 Rappresentanti della Scuola sottoposta a giudizio da parte
						dell’Assemblea possono presiedere alla votazione pur non avendo diritto di
						voto.
					</li>
					<li>
						L’elezione dellə Coordinatricə Nazionale (ex art. 21 dello Statuto), che si
						svolge, di norma, alla seconda assemblea di ogni anno, avviene con votazione
						a scrutinio segreto. È compito della Comitato Organizzativo predisporre il
						materiale necessario ai fini della votazione stessa. Ogni Rappresentante può
						esprimere una sola preferenza. Finite le procedure di votazione, è compito
						della Comitato Organizzativo procedere allo spoglio dei voti. Viene elettə
						Coordinatricə Nazionale il membro dell’Assemblea che abbia ottenuto il
						maggior numero di voti. In caso di parità tra due o più candidati, si
						procede a ballottaggio tra gli stessi. In caso di ulteriore parità viene
						elettə Coordinatricə Nazionale il candidato con maggior anzianità di mandato
						all’interno della Rete dell3 Alliev3. Sono escluse dal calcolo per
						l’anzianità di mandato le assemblee alle quali si è partecipato in qualità
						di delegato o di uditore.
					</li>
				</ol>
			</div>
		</div>
	</SidebarContent>

	<SidebarContent>
		<div slot="sidebar">
			<h3>Art. 3 - Cariche sociali</h3>
		</div>
		<div class="basic-text">
			<div class="paragraph">
				<ol>
					<li>
						L’Assemblea dell3 Rappresentanti, con delibera del maggio 2023, ha stabilito
						di istituire alcune cariche che esulano da quelle presenti nello Statuto:
						<ol>
							<li>Segretariə</li>
							<li>Tesorierə</li>
							<li>Coordinatricə Nazionale Vicariə</li>
						</ol>
						Le cariche di cui sopra hanno durata annuale.
					</li>
					<li>
						Lə Coordinatricə Nazionale nomina annualmente unə Segretariə, unə Tesorierə
						e unə Coordinatricə Nazionale Vicariə tra l3 Rappresentanti dell'Assemblea,
						previa approvazione della stessa. L'Assemblea può, qualora sia necessario,
						ratificare anche un'accettazione di carica con riserva da parte dellə
						Rappresentante designatə nella carica di Segretariə, Tesorierə o
						Coordinatricə Nazionale Vicariə. Quest'ultimə deve comunque impegnarsi ad
						accettare o rifiutare definitivamente la propria nomina entro la prima
						assemblea disponibile, a partire da quella della ratifica dell'Assemblea.
					</li>
					<li>
						Lə Segretariə svolge attività di supporto al Coordinatricə Nazionale. Lə
						Segretariə si occupa di:
						<ol>
							<li>
								gestire la documentazione dell'Associazione (sia cartacea che
								digitalizzata);
							</li>
							<li>
								vigilare sul corretto svolgimento delle Assemblee sulla base della
								norme statutarie e del presente regolamento;
							</li>
							<li>curare la stesura del verbale delle Assemblee.</li>
						</ol>
					</li>
					<li>
						Lə Tesorierə ha il compito di:
						<ol>
							<li>
								coadiuvare il Coordinatricə Nazionale nella stesura del bilancio;
							</li>
							<li>
								gestire il conto corrente dell'Associazione, su procura del
								Coordinatricə Nazionale.
							</li>
						</ol>
					</li>
					<li>
						Lə Coordinatricə Nazionale Vicariə ha il compito di:
						<ol>
							<li>
								sostituire lə Coordinatricə Nazionale nel caso in cui quest'ultimə
								non possa partecipare a un'Assemblea né fisicamente né
								telematicamente;
							</li>
							<li>
								assistere lə Coordinatricə Nazionale sistematicamente nell'esercizio
								delle sue funzioni.
							</li>
						</ol>
					</li>
					<li>
						In caso in cui sia lə Coordinatricə Nazionale che lə Coordinatricə Nazionale
						Vicariə siano impossibilitati dal presenziare a un’assemblea, le funzioni
						del Coordinatricə Nazionale vengono ricoperte secondo la seguente
						successione:
						<ol>
							<li>Tesorierə;</li>
							<li>Segretariə;</li>
							<li>
								Rappresentante con maggior anzianità di mandato presente fisicamente
								in assemblea.
							</li>
							<li>Rappresentante delegatə dallə Coordinatricə Nazionale;</li>
						</ol>
					</li>
					<li>
						Su proposta di almeno unə Rappresentante, l’Assemblea dei Rappresentanti
						nomina all’unanimità dei presenti “Presidentə Onorariə” (ex art. 12 dello
						Statuto). L’Assemblea non potrà eleggere più di unə Presidentə Onorariə ogni
						triennio.
					</li>
				</ol>
			</div>
		</div>
	</SidebarContent>
	<SidebarContent>
		<div slot="sidebar">
			<h3>Art. 4 - Commissioni</h3>
		</div>
		<div class="basic-text">
			<div class="paragraph">
				<ol>
					<li>
						L’Assemblea dell3 Rappresentanti, in seduta ordinaria o straordinaria, può
						istituire una o più Commissioni, con lo scopo di gestire una o più attività
						dell’Associazione.
					</li>
					<li>Le Commissioni sono costituite da unə o più Soci3 dell’Associazione.</li>
					<li>
						Ogni Commissione è regolarmente costituita se sono soddisfatti i seguenti
						requisiti:
						<ol>
							<li>
								deve essere nominatə, all’interno dell3 membr3 della Commissione,
								unə Referente che assume la responsabilità dell’attività della
								Commissione;
							</li>
							<li>
								deve essere indicata in modo chiaro all’atto della costituzione
								della Commissione una serie di obiettivi e attività da perseguire;
							</li>
							<li>
								laddove richiesto all’atto della costituzione della Commissione,
								deve essere indicata una data di scadenza delle proprie attività,
								termine oltre il quale esso si intende sciolto.
							</li>
						</ol>
					</li>
					<li>
						Al termine delle attività della Commissione (comma 3c) e in generale ad ogni
						assemblea, ogni Referente è tenutə a presentare all’Assemblea dell3
						Rappresentanti il resoconto delle attività svolte dalla Commissione,
						eventuali elaborati prodotti e progetti futuri.
					</li>
					<li>
						L’Assemblea dell3 Rappresentanti può decidere di sciogliere anticipatamente
						una Commissione, modificarne la lista dell3 membr3, modificarne gli
						obiettivi o estenderne, laddove presente, la data di scadenza delle
						attività.
					</li>
				</ol>
			</div>
		</div>
	</SidebarContent>

	<SidebarContent>
		<div slot="sidebar">
			<h3>Disposizioni finali</h3>
		</div>
		<div class="basic-text">
			<div class="paragraph">
				Per tutto quanto non previsto dal presente regolamento si applicano le norme di
				legge vigenti e lo Statuto dell’Associazione.
			</div>
		</div>

		<style>
			ul,
			ol {
				margin: 1em;
			}
			.paragraph {
				@extend p;
			}
			li {
				display: list-item;
				list-style-position: inside;
			}
		</style>
	</SidebarContent>
</Layout>
